<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="utf-8">
		<title>疫情监察</title>
    <script src="../static/js/jquery-1.11.0.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../static/js/echarts.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="../static/js/echarts-wordcloud.min.js"></script>
		<script src="../static/js/china.js" type="text/javascript" charset="utf-8"></script>
		
		<link rel="stylesheet" href="../static/css/style.css">

	</head>
	<body>
		<div id="title">全国疫情实时追踪</div>
		<div id="time">time</div>
		<div id="c1">
			<div class="num">
				<h1>1254</h1>
			</div>
			<div class="num">
				<h1>1283</h1>
			</div>
			<div class="num">
				<h1>1253</h1>
			</div>
			<div class="num">
				<h1>1243</h1>
			</div>
			<div class="txt">
				<h2>累计确诊</h2>
			</div>
			<div class="txt">
				<h2>剩余疑似</h2>
			</div>
			<div class="txt">
				<h2>累计治愈</h2>
			</div>
			<div class="txt">
				<h2>累计死亡</h2>
			</div>
		</div>
		<div id="c2">3</div>
		<div id="l1">4</div>
		<div id="l2">5</div>
		<div id="r1">6</div>
		<div id="r2">7</div>
	</body>

	<script src="../static/js/ec_center.js" type="text/javascript" charset="utf-8"></script>
	<script src="../static/js/ec_right1.js" type="text/javascript" charset="utf-8"></script>
	<script src="../static/js/ec_right2.js" type="text/javascript" charset="utf-8"></script>
	<script src="../static/js/ec_left1.js" type="text/javascript" charset="utf-8"></script>
	<script src="../static/js/ec_left2.js" type="text/javascript" charset="utf-8"></script>
    <script src="../static/js/controller.js" type="text/javascript" charset="utf-8"></script>


</html>
